.navbar {
    background-color: rgb(110,94,254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  div h1, div h3 {
    display: inline-block;
}
  
  .navbar li {
    margin: 0 1rem;
  }
  
  .navbar h1 {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
  }
  
  .navbar h3 {
    color: #fff;
    text-decoration: none;
  }
  .navbar a:hover {
    color: #ddd;
  }